* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Courier New', monospace;
    background: linear-gradient(to Right, #0f172a, #19273b);
    color: #f8f9fa;
    transition: 0.5s;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 10%;
    position: fixed;
    width: 100%;
    background: rgba(#0f172a, 0.8);
    backdrop-filter: blur(10px);
    z-index: 1000;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #f8f9fa;
    font-weight: 500;
}

.home {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
}

.home h1 {
    font-size: 4rem;
    margin-bottom: 20px;
}

.btn-sini {
    display: inline-block;
    padding: 15px 30px;
    background: #01496b;
    color:white;
    text-decoration: none;
    border-radius: 50px;
    margin-top: 20px;

    transition: all 0.3s ease;
    position: relative;
    cursor: pointer;
}

.btn-sini::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50px;
    padding: 2px;

    background: linear-gradient(45deg, #19273b, white, #0f172a, #01496b);
    background-size: 300% 300%;

    -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude;

            opacity: 0;
            transition: opacity 0.3s ease;
}

.btn-sini:hover {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 4);
}

.btn-sini:hover::before {
    opacity: 1;
    animation: borderMove 3s linear infinite;
}

.teks-home {
    padding: 3px;
}

.home-image img {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    object-fit: cover;
}

section {
    height: 100vh;
    padding: 100px 10%;
    text-align: center;

}

.wadah {
    display: flex;
    gap: 20px;
    flex-direction: column;
}


.list {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 10px;
}

.list-item {
    display: flex;
    padding: 10px 20px;
    align-items: center;
    justify-content: center;
    background:#01496b;
    height: 100px;
    width: 150px;
    text-align: center;
    border-radius: 10px;

    transition: all 0.3s ease;
    position: relative;
    cursor: pointer;
}

.list-item::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 10px;
    padding: 2px;

    background: linear-gradient(45deg, #19273b, white, #0f172a, #01496b);
    background-size: 300% 300%;

    -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude;

            opacity: 0;
            transition: opacity 0.3s ease;
}

.list-item:hover {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 4);
}

.list-item:hover::before {
    opacity: 1;
    animation: borderMove 3s linear infinite;
}

@keyframes borderMove {
    0%{
        background-position: 0% 50%;
    }
    100%{
        background-position: 300% 50%;
    }
}

.list-projek {
    display: inline-block;
    padding: 10px 20px;
    background:#01496b;
    height: 200px;
    width: 200px;
    border-radius: 10px;

    transition: all 0.3s ease;
    position: relative;
    cursor: pointer;
}

.list-projek::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 10px;
    padding: 2px;

    background: linear-gradient(45deg, #19273b, white, #0f172a, #01496b);
    background-size: 300% 300%;

    -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude;

            opacity: 0;
            transition: opacity 0.3s ease;
}

.list-projek:hover {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 4);
}

.list-projek:hover::before {
    opacity: 1;
    animation: borderMove 3s linear infinite;
}


.list-medsos {
    display: inline-block;
    padding: 10px 20px;
    background:#01496b;
    color: white;
    margin: 7px;
    border-radius: 10px;
    text-decoration: none;

    transition: all 0.3s ease;
    position: relative;
    cursor: pointer;
}

.list-medsos::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 10px;
    padding: 2px;

    background: linear-gradient(45deg, #19273b, white, #0f172a, #01496b);
    background-size: 300% 300%;

    -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude;

            opacity: 0;
            transition: opacity 0.3s ease;
}

.list-medsos:hover {
    transform: translateY(-8px) scale(1.05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 4);
}

.list-medsos:hover::before {
    opacity: 1;
    animation: borderMove 3s linear infinite;
}

.pesan {
    font-family: monospace;
    color: white;
    background: fixed;
    background-color: #19273b;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
}

form {
    margin-top: 20px;
}

input, textarea {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    border: none;
}

button {
    background-color: #01496b;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;

    transition: all 0.3s ease;
    position: relative;
    cursor: pointer;
}

button::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 10px;
    padding: 2px;

    background: linear-gradient(45deg, #19273b, white, #0f172a, #01496b);
    background-size: 300% 300%;

    -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude;

            opacity: 0;
            transition: opacity 0.3s ease;
}

button:hover {
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 4);
}

button:hover::before {
    opacity: 1;
    animation: borderMove 3s linear infinite;
}